@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Bluky Book Website</h1>
    <p>Learn about <a href="https://sk-arecanuts.business.site/?utm_source=gmb&utm_medium=referral">Buiesness Account</a>.</p>
</div>
