@model Catagory

<form method="post">
    <div class=" border p-3 mt-4">

        <div class="row pb-2">
            <h2 class="text-warning">Create Catagory</h2>
        </div>

        @*<div asp-validation-summary="All"></div>*@

        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />           
            <span asp-validation-for="Name" class="text-primary"></span>
        </div>

        <div class="mb-3">
            <label asp-for="DispalyOrder"></label>
            <input asp-for="DispalyOrder" class="form-control" />          
            <span asp-validation-for="DispalyOrder" class="text-primary"></span>
        </div>

        <button type="submit" class="btn btn-primary" style:"width:150%">Submit</button>
        <a asp-controller="Catagory" asp-action="Index" class="btn btn-danger">Back To List</a>
    </div>

</form>

@section Scripts
{
    @{
        <partial Name="_ValidationScriptsPartial" />
    }
}